h1{
    text-align: center;
    font-weight: bolder;
    color: yellow;
}

.block0 img{
    width: 300px;
}

.block0{
    background-color: aquamarine;
    border: 5px solid blue;
    margin-bottom: 30px;
    padding: 20px;
}

.block0 p{
    font-size: 20px;
    font-weight: bold;
}

.block0 h2{
    text-align: center;
    color: red;
    font-style: italic;
}

.block1 h3{
    color: brown;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.block1 img{
    width: 300px;
}

.block1 p{
    font-size: 20px;
    font-weight: bold;
}

.block1{
    background-color: darkturquoise;
    border: 5px solid darkorchid;
    margin-bottom: 30px;
    padding: 20px;
}

.block2 img{
    width: 300px;
}

.block2 h4{
    color: magenta;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.block2 p{
    font-size: 20px;
    font-weight: bold;
}

.block3{
    background-color: thistle;
    border: 5px solid darkorange;
    margin-bottom: 30px;
    padding: 20px;
}

.facebook{
    width: 20px;
    height: 20px;
}

.Instagram{
    width: 20px;
    height: 20px;
}

.Linkedin{
    width: 20px;
    height: 20px;
}

.block4{
    text-align: center;
    background-color: floralwhite;
    border: 5px solid rgb(250, 114, 198);
    margin-bottom: 30px;
    padding: 20px;
}